# Pandas - Data Analysis Library

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

## Importing Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.__version__

## Series

In [ ]:
pd.Series(data = [1,2,3,4])

## DataFrame

In [ ]:
pd.DataFrame(data = {"Nama" : ["Selly", "Emir"], "Umur": [12, 13]})

![](series-and-dataframe.width-1200.png)

## Creating DataFrame from dictionary

In [ ]:
df = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
df

In [ ]:
df0 = pd.DataFrame(df)
df0

Specify orient='index' to create the DataFrame using dictionary keys as rows:

In [ ]:
df2 = pd.DataFrame.from_dict(df, orient='index')
df2

When using the ‘index’ orientation, the column names can be specified manually:

In [ ]:
df3 = pd.DataFrame.from_dict(df, orient='index',
                       columns=['A', 'B', 'C', 'D'])
df3

We can change the columns' name

In [ ]:
df3.columns

In [ ]:
df3.columns = ["first", "second", "third", "fourth"]

In [ ]:
df3

In [ ]:
df3.columns.values[0]

In [ ]:
df3.columns.values[0] = "zero"

In [ ]:
df3

### Exercise 1

1. Create the following dataframe
![](ex00.png)

2. Change "Location" into "City"

In [ ]:
ex1 = pd.DataFrame(data = {"Age" : [24, 13, 53], "Location": ["New York", "Paris", "Berlin"], "Name" : ["John", "Anna", "Peter"]})
ex1

In [ ]:
ex1.columns.values[1] = "City"
ex1

# Open CSV file

We will be using data of Uber drive in 2016. The data can be obtained from Kaggle (https://www.kaggle.com/zusmani/uberdrives)

In [ ]:
data = pd.read_csv("My Uber Drives - 2016.csv")
data

### Basic Operation

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
data.dtypes

### Convert data type

It can be seen that the START_DATE* and END_DATE* is object type data. While in fact, it is a date

In [ ]:
data1 = pd.DataFrame({"Cost":["5","5","7"],"Amount":[11,12,13],"Date": ["11-10-2020","12-10-2020","13-10-2020"]})
data1

In [ ]:
data1.dtypes

In [ ]:
data1["Date"] = pd.to_datetime(data1["Date"])

In [ ]:
data1["Cost"] = pd.to_numeric(data1["Cost"])

In [ ]:
data1

In [ ]:
data1.dtypes

In [ ]:
data1["Cost"] = data1["Cost"].map(str)

In [ ]:
data1.dtypes

In [ ]:
data1["Amount"] = data1["Amount"].astype(str)

In [ ]:
data1.dtypes

#### Apply to our dataframe

In [ ]:
# convert data to datetime format
pd.to_datetime(data["START_DATE*"], format='%m/%d/%Y %H:%M')

In [ ]:
pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

In [ ]:
data.tail()

Why the `START_DATA*` is still object? because it is not changed in the data frame

In [ ]:
data["START_DATE*"] = pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

In [ ]:
data["END_DATE*"] = pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

### Dataset summarization

In [ ]:
data.describe()

In [ ]:
data.describe(include='all')

In [ ]:
data.info()

In [ ]:
# count of unique start locations
data["START*"].value_counts()

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
end_date = data.loc[data["END_DATE*"] > "2016-04-01"]
end_date

### > Exercise 2

1. Create the following dataframe with “Umur” is object type and convert it into integer
![](ex1.png)

2. Go to Kaggle, download the Titanic data and do the data basic exploration.\
head, tail, describe, info, size, shape

In [ ]:
df = pd.read_csv("titanic.csv")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.size

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
new_name = ['ID', 'Survived', 'Class', 'Name', 'Gender', 'Age', 'Family', 'Member', 'Ticket', 'Price', 'Cabin', 'StartPoint']

In [ ]:
df.columns = new_name

In [ ]:
df.head()

In [ ]:
df.columns.values[-3] = "Cost"

In [ ]:
df.head()

In [ ]:
df["Survived"].value_counts()

In [ ]:
df["Class"].value_counts()

In [ ]:
df["Gender"].value_counts()

In [ ]:
df["StartPoint"].unique()

In [ ]:
df.isnull().sum()

## Data Manipulation Tasks

There are five common data manipulations tasks:
1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/conditionally adding columns
5. Groupby/summarize

## 1. Selecting/Indexing

### `loc` and `iloc`

![](loc.png)

In [ ]:
data.head()

### Positional indexing

In [ ]:
data.iloc[0:3, [1,3]]

In [ ]:
data.iloc[:, 3]

In [ ]:
data.iloc[1:3, 3:6]

### Label indexing

In [ ]:
data1 = data.loc[3:6, "START*"]
data1

In [ ]:
type(data1)

In [ ]:
data.loc[:, "START_DATE*" : "MILES*"]

In [ ]:
data.loc[:1154, ["START_DATE*", "MILES*"]]

In [ ]:
a = data.loc[:, "START*"]
a

In [ ]:
type(a)

In [ ]:
b = data.loc[:, ["START*"]].head()
b

In [ ]:
type(b)

##### All function work in df, not in series

### > Exercise 3

1. Select columns: `START_DATE*, START*, STOP*`

2. Extract the first & last 10 rows of the previous columns

## 2. Filtering

In [ ]:
df1 = data.loc[data["MILES*"] > 10, ["MILES*"]]
df1

In [ ]:
df1 = data.loc[data["MILES*"] > 10, :]
df1

#### find all rides that is greater that 10 miles

In [ ]:
data.loc[data["MILES*"] > 10]

#### find all rides from NY

In [ ]:
data.loc[data["START*"] == "New York"]

In [ ]:
data.loc[data["START*"] == "New York", ["MILES*", "STOP*"]]

#### Find out all rides from Cary & Morrisville

In [ ]:
# match multiple condition
st = data[data["START*"].isin(["Cary","Morrisville"])]
st

In [ ]:
st.loc[0:5, :]

In [ ]:
st.iloc[0:5, :]

In [ ]:
st.reset_index(inplace = True, drop = True)

In [ ]:
st

#### Find out all rides to Cary & Morrisville

In [ ]:
data[data["STOP*"].isin(["Cary","Morrisville"])].shape

### > Exercise 4

1. Find all trips that is greater than 10 miles and originated from New York and Morris

Hint: use `and`

In [130]:
data[(data["MILES*"] > 10) & (data["START*"].isin(["Morrisville","New York"]))]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,2016-01-01 21:11:00,2016-01-01 21:11:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:25:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:25:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:31:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 14:42:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,2016-12-31 13:24:00,2016-12-31 13:24:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:03:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:32:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 22:08:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN

In [127]:
data["START*"].value_counts()

Cary                   201
Unknown Location       148
Morrisville             85
Whitebridge             68
Islamabad               57
                      ...
Nugegoda                 1
Pontchartrain Beach      1
Midtown East             1
El Cerrito               1
Burtrose                 1
Name: START*, Length: 177, dtype: int64

## 3. Sorting

In [ ]:
data.sort_values(by=["MILES*"], ascending=False)

In [ ]:
data.sort_values(by=["START*"], ascending=True)

## 4. Conditionally adding column

In [131]:
import numpy as np

In [132]:
data["DISTANCE"] = np.where(data["MILES*"] > 5, "Long Trip", "Short Trip")

In [ ]:
data.head()

In [ ]:
data["DISTANCE"].value_counts()

In [ ]:
data["YEAR"] = np.array("2016")
data

In [139]:
data["TIME_CAT"] = np.where(data["START_DATE*"] > "1/5/2016", "New Trip", "Old Trip")

In [ ]:
data

In [ ]:
data['TIME_CAT'].value_counts()

### Exercise 5

1. Create a new column with the following condition:\
    a) >10    : Long Trip\
    b) 5-10   : Medium Trip\
    c) <5     : Short Trip

In [159]:
data["Distance"] = np.where(data["MILES*"] > 10 ,"Long trip", np.where(data["MILES*"] >= 5, "Medium Trip", "Short trip"))

In [160]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,DISTANCE,YEAR,TIME_CAT,TIME_CAT_NEW,Distance
0,2016-01-01 21:11:00,2016-01-01 21:11:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Long Trip,2016,Old Trip,Old Trip,Medium Trip
1,2016-01-02 01:25:00,2016-01-02 01:25:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short Trip,2016,Old Trip,Old Trip,Medium Trip
2,2016-01-02 20:25:00,2016-01-02 20:25:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short Trip,2016,Old Trip,Old Trip,Short trip
3,2016-01-05 17:31:00,2016-01-05 17:31:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short Trip,2016,New Trip,New Trip,Short trip
4,2016-01-06 14:42:00,2016-01-06 14:42:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip,2016,New Trip,New Trip,Long trip

In [161]:
data.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,DISTANCE,YEAR,TIME_CAT,TIME_CAT_NEW,Distance
1151,2016-12-31 13:24:00,2016-12-31 13:24:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site,Short Trip,2016,New Trip,New Trip,Short trip
1152,2016-12-31 15:03:00,2016-12-31 15:03:00,Business,Unknown Location,Unknown Location,16.2,Meeting,Long Trip,2016,New Trip,New Trip,Long trip
1153,2016-12-31 21:32:00,2016-12-31 21:32:00,Business,Katunayake,Gampaha,6.4,Temporary Site,Long Trip,2016,New Trip,New Trip,Medium Trip
1154,2016-12-31 22:08:00,2016-12-31 22:08:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,Long Trip,2016,New Trip,New Trip,Long trip
1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN,Long Trip,2016,Old Trip,Old Trip,Long trip

## 5. Groupby Summarize

In [ ]:
data.groupby("START*")["MILES*"].agg(["mean"])

In [ ]:
# find the mean and total distance travelled
data.groupby("START*")["MILES*"].agg(["mean", "sum", "min", "max", "std", "var"])

In [ ]:
data["START*"].value_counts()

## Save DataFrame into CSV

In [ ]:
data

In [ ]:
data.to_csv("data_baru5.csv")

Saving df without index

In [ ]:
data.to_csv("data_baru5_5.csv", index = False)