# Pandas - Data Analysis Library

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

## Importing Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.__version__

## Series

In [ ]:
pd.Series(data = [1,2,3,4])

## DataFrame

In [ ]:
pd.DataFrame(data = {"Nama" : ["Selly", "Emir"], "Umur": [12, 13]})

![](series-and-dataframe.width-1200.png)

## Creating DataFrame from dictionary

In [ ]:
df = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
df

In [ ]:
df0 = pd.DataFrame(df)
df0

Specify orient='index' to create the DataFrame using dictionary keys as rows:

In [ ]:
df2 = pd.DataFrame.from_dict(df, orient='index')
df2

When using the ‘index’ orientation, the column names can be specified manually:

In [ ]:
df3 = pd.DataFrame.from_dict(df, orient='index',
                       columns=['A', 'B', 'C', 'D'])
df3

We can change the columns' name

In [ ]:
df3.columns

In [ ]:
df3.columns = ["first", "second", "third", "fourth"]

In [ ]:
df3

In [ ]:
df3.columns.values[0]

In [ ]:
df3.columns.values[0] = "zero"

In [ ]:
df3

### Exercise 1

1. Create the following dataframe
![](ex00.png)

2. Change "Location" into "City"

# Open CSV file

We will be using data of Uber drive in 2016. The data can be obtained from Kaggle (https://www.kaggle.com/zusmani/uberdrives)

In [ ]:
data = pd.read_csv("My Uber Drives - 2016.csv")
data

### Basic Operation

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
data.dtypes

### Convert data type

It can be seen that the START_DATE* and END_DATE* is object type data. While in fact, it is a date

In [ ]:
data1 = pd.DataFrame({"Cost":["5","5","7"],"Amount":[11,12,13],"Date": ["11-10-2020","12-10-2020","13-10-2020"]})
data1

In [ ]:
data1.dtypes

In [ ]:
data1["Date"] = pd.to_datetime(data1["Date"])

In [ ]:
data1["Cost"] = pd.to_numeric(data1["Cost"])

In [ ]:
data1

In [ ]:
data1.dtypes

In [ ]:
data1["Cost"] = data1["Cost"].map(str)

In [ ]:
data1.dtypes

In [ ]:
data1["Amount"] = data1["Amount"].astype(str)

In [ ]:
data1.dtypes

#### Apply to our dataframe

In [ ]:
# convert data to datetime format
pd.to_datetime(data["START_DATE*"], format='%m/%d/%Y %H:%M')

In [ ]:
pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

In [ ]:
data.tail()

Why the `START_DATA*` is still object? because it is not changed in the data frame

In [ ]:
data["START_DATE*"] = pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

In [ ]:
data["END_DATE*"] = pd.to_datetime(data["END_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

### Dataset summarization

In [ ]:
data.describe()

In [ ]:
data.describe(include='all')

In [ ]:
data.info()

In [ ]:
# count of unique start locations
data["START*"].value_counts()

### > Exercise 2

1. Create the following dataframe with “Umur” is object type and convert it into integer
![](ex1.png)

2. Go to Kaggle, download the Titanic data and do the data basic exploration.\
head, tail, describe, info, size, shape

## Data Manipulation Tasks

There are five common data manipulations tasks:
1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/conditionally adding columns
5. Groupby/summarize

## 1. Selecting/Indexing

### `loc` and `iloc`

![](loc.png)

In [ ]:
data.head()

### Positional indexing

In [ ]:
data.iloc[0:3, [1,3]]

In [ ]:
data.iloc[:, 3]

In [ ]:
data.iloc[1:3, 3:6]

### Label indexing

In [ ]:
data1 = data.loc[1:3, "START*"]
data1

In [ ]:
type(data1)

In [ ]:
data.loc[:, "START_DATE*" : "MILES*"]

In [ ]:
data.loc[:1154, ["START_DATE*", "MILES*"]]

In [ ]:
a = data.loc[:, "START*"]
a

In [ ]:
type(a)

In [ ]:
b = data.loc[:, ["START*"]].head()
b

In [ ]:
type(b)

##### All function work in df, not in series

### > Exercise 3

1. Select columns: `START_DATE*, START*, STOP*`

2. Extract the first & last 10 rows of the previous columns